<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>

<body background='static\img_1.jpeg'>

    <center>

        <h1 style="font-family:Verdana; color:white; font-size:60px;">  Our model predicts:  </h1>

    {%if data == 0%}
    <h1 style="font-family:Verdana; color:white; font-size:40px;">The news is likely to be reliable!</h1>

    {%else%}
    <h1 style="font-family:Verdana; color:white; font-size:40px;">The news is likely to be unreliable!</h1>

    {%endif%}

        <br><br>
    <a style="font-family:Verdana; color:white; font-size:15px;" href='/'> Go back </a>

    </center>

</body>

</html>
